dependency-reduced-pom.xml
*~
*.orig
bin
.metadata
.settings
.loadpath
.actionScriptProperties
.flexProperties
.gradle
target
test-output
temp-testng-customsuite.xml
.idea
.idea/
*.iml
*.ipr
*.iws
*.eml
*.un~
*/build/
*.pyc
soap*.xml
*/catalog.xml
atlassian-ide-plugin.xml
.DS_Store
ehcache
velocity.log
velocity.log

